.alphabet_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.alphabet_item {
    cursor: pointer;
    padding: 20px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #c0f392;
    transition: 0.5s;
}

.alphabet_item:hover {
    color: #c0f392;
}